.BorderElement{
    border-style: solid;
    border-width: 1px;
}

.DescriptionHeadline{
    margin-left: 5px;
    margin-right: 5px;
}

.FileUploadClass{
    margin: 5px;
    text-align: center;
}

.LoginForm{
    margin: 20px;
    text-align: left;
}

.p-fileupload-files{
    width: 100%
}

