.ol-zoom{
    left: initial;
    right: 0.5em;
}

.ol-scale-line{
    background-color: rgba(0, 60, 136, 0.6);
}

.ol-zoomslider{
    left: initial;
    right: 0.5em;
}

.ol-popup {
    z-index: 1010;
}

.p-grid{
    margin-right: 0px;
    
}